/* ----------------------------------------------------------------------------
global site footer
---------------------------------------------------------------------------- */

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logos__link {
  text-decoration: none;

  & img {
    height: 1.5em;
    width: auto;
    margin: 0 0.25em;
  }
}
